<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
</head>
<body>

<div id="news-list">
    <!-- Здесь будут отображаться новости -->
</div>

<script>
    // Используем AJAX для получения данных с вашего API
    const apiUrl = 'http://127.0.0.1:8000/api/news/';

    // Функция для создания элементов и добавления их на страницу
    function displayNews(news) {
        const newsList = document.getElementById('news-list');

        news.forEach(item => {
            const newsItem = document.createElement('div');
            newsItem.innerHTML = `
                <h2>${item.title}</h2>
                <p>${item.text}</p>
                <p>Author: ${item.author}</p>
                <p>Publication Date: ${new Date(item.publication_date).toLocaleString()}</p>
                <img src="${item.main_image}" alt="${item.title}">
                <hr>
            `;
            newsList.appendChild(newsItem);
        });
    }

    // Используем fetch для получения данных с API
    fetch(apiUrl)
        .then(response => response.json())
        .then(data => displayNews(data))
        .catch(error => console.error('Error:', error));
</script>

</body>
</html>
